{% extends "base.html" %}
{% load static %}
{% block style %}

 
.main_cont {
    width:100%;
    position:relative;
    align-items:center;

}

.signin {
    width:60%;
    height:75vh;
    margin:5rem 19rem;
    border:1px solid red;
}

.main_cont .signin form {
    width:90%;
    height:90%;
    font-size:18px;
    margin:1rem 3rem;
}

.main_cont .signin form input {
    width:20rem;
    height:20px;
    padding:1rem;
    font-size:15px;
    border:None;
    border-radius:5px;
    background-color:#fff;

}

.main_cont .signin form label {
    font-size:20px;
}

.main_cont .signin form button {
    font-size:15px;
    padding:.5rem;
    background-color:blue;
    color:white;
    border-radius:.5rem;
}

.main_cont .signin h1 {
    font-size:25px;
    text-decoration:none;

}
{% endblock %}
{% block contaner %}
<section class='main_cont'>
    <section class='signin'>
        <h1>User Sign-In </h1>
        <form action='/signup/' method='post'>
        {% csrf_token %}
        <label for='username'>Enter Your Name</label><br>
        <input type='text' name='username' id='username' required>
        <br>

        <label for='email'>Enter Your Email Id</label><br>
        <input type='email' name='email' id='email' required>
        <br><br>
        
        <label for='password1'>Enter Your Password</label><br>
        <input type='password' name='password1' id='password1' required>
        <br><br>

        <label for='password2'>Re-Enter Your Password</label><br>
        <input type='password' name='password2' id='password2' required>
        <br><br>

        <button type='submit'>Submit</button>
        <br>
        <span>you have already account ?</span><a href="/sign_in/">Click here</a>
    </form>
</section>
</section>
{% endblock %}
