{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Shrikhand&display=swap" rel="stylesheet">
     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Mate+SC&display=swap" rel="stylesheet">
     <link rel="stylesheet" href="{% static 'riot-slider.min.css' %}" />
     <script src="{% static 'riot-slider.min.js' %}"></script>
    <link rel='stylesheet' href="{% static 'style.css' %}">
    <link rel='stylesheet' href="{% static 'data/style.css' %}">
    <title>Partners {% block title %}{% endblock %} </title>
    <style>{% block style %}{% endblock %}</style>
    

</head>
     <body >
          
          <header>
               <div class="head">
                    <div id="logo"><img src= "{% static 'images\contanering.png' %}" ></div>
                    
                    <div id="pro_name"><h3> Partners Group Management</h3></div>
                    
               </div>
       <nav>
           <ul>
            <li><a href='/' target='' class='z'>Home</a></li>
            <li><a href='/menu/' target='' class='z'>Menu Table</a></li>
            <li><a href="{% url "album" %}" target='' class='z'style='margin-right:18px'>Gallery</a></li>
            {% if user.is_authenticated %} 
               <li><a href="{% url "product" %}" target='' class='z'>Product</a></li>
               <li><a href='/profile/' target='' class='z'>{{user.username}}</a></li>
               <li><a href='/log_out/{{user.id}}/' target='' class='z'>Logout</a></li>
               <li><a href='/profile/' target='' class='z'><i class="fa-solid fa-user"></i></a></li>
            {% else %}
               <li><a href='/sign_in/' target='' class='z'>sign-in</a></li>
               <li><a href='/signup/' target='' class='z'>sign-up</a></li>
            {% endif %}
           </ul>
            </nav>
          </header>
          <br>
          {% block contaner %}
          
          
          {% endblock %}

         
          <br>
        <footer>
          <div id='main_foot'>
               <div class='x'>
                       <div style='font-size:20px;text-align:center'>Contact Us</div>
               <div id="con_foot">Location<br>Khandwa naka indore M.P.<br><br>
               Mobile no<br>7723815178<br><br>
               gmail id<br>yogeshyadav7723@gmail.com
               </div>
               </div>
               <div class='x'><div style='font-size:20px;text-align:center'>Developer</div>
               <div id="dev_foot"> My name is Yogesh yadav from<br> khargone distric M.P.
                I have complete<br> my gratuation B.tech with Electronics and
                communication branch from<br> Swami Vivekanand Collge of Engineering Indore. 
               </div>        
                </div>
               <div class='x'><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2809.3234892625574!2d75.87563517115483!3d22.67390227581232!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3962fc95e4566a19%3A0x721053fbd22a72e4!2z4KS44KSC4KSkIOCkqOCkl-CksCDgpI_gpLXgpYfgpKjgpY3gpK_gpYIsIOCkuOCkguCkpCDgpKjgpJfgpLAsIOCkh-CkqOCljeCkpuCljOCksCwg4KSu4KSn4KWN4KSvIOCkquCljeCksOCkpuClh-CktiA0NTIwMjA!5e0!3m2!1shi!2sin!4v1681233279667!5m2!1shi!2sin"
                       
                    style="border:0;width:275px;height:200px" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade ">
               </iframe>
               </div>
               <marquee scrollamount='20' id="mq">Welcome In Our Room</marquee>
              <div class="fd_main">
              <ul id="fd">
               <li><a href='#' target='' class='z' >Terms of Service |</a></li>
               <li><a href='#' target='' class='z' >Privacy Policy |</a></li>
               <li><a href='menu_table.html' target='' class='z'>Returnd Policy |</a></li>
               <li><a href='#' target='' class='z' >Accessibility Policy </a></li>
               </ul>
          </div>
          </div>
      </footer>
      <script src="https://kit.fontawesome.com/1e3ab062d2.js" crossorigin="anonymous"></script> 
      {% block scripts %}{% endblock %}
      
</body> 
</html>
