{% extends "base.html" %}
{% load static %}
{% block style %}

.menu_list {
     width:100%;
     margin-top:5rem;
     margin-bottom:10rem;
     display:flex;
     justify-content:center;
}

.active {
     background-color:blue;
     color:white;

}
table {
     width:40%;
     margin:2rem;
     font-size:20px;

}
table tr th {
     align-item:center;
}
table tr td{
     align-item:center;
     padding:5px;
}

{% endblock %}
{% block contaner %}
<div >   
<section class='menu_list'>
<table border='1px' cellspacing='' cellpadding='' >
     <tr>
          <th class='active'>Days</th>
          <th>Morning</th>
          <th>Evening</th>
     </tr>
     <tr>
          <th>Monday</th>
          <td>Tameto</td>
          <td>muga daal(Been lentil)</td>
     </tr>
     <tr>
          <th>Tuesday</th>
          <td>Sev</td>
          <td>Allu,palak,gobhi</td>
     </tr>
     <tr>
          <th>Wednesday</th>
          <td>muga daal</td>
          <td>chawal,Tuar daal</td>
     </tr>
     <tr>
          <th>Thursday</th>
          <td>Gilki,bhindi</td>
          <td>Allu</td>
     </tr>
     <tr>
          <th>Friday</th>
          <td>Sev</td>
          <td>muga daal</td>
     </tr>
     <tr>
          <th>Saturday</th>
          <td>allu</td>
          <td>Khichadi</td>
     </tr>
     <tr>
          <th>Sunday</th>
          <td>daal bati,allu bade,allu parathe,bhaje</td>
          <td>khichadi</td>
     </tr> 

 </table> 

 
<table border='1px' cellspacing='' cellpadding='' >
     <tr>
          <th>bartan,pani,jhadu,kachara</th>
          <th>let-bath</th>
     </tr>
     <tr>
          <td>Rohit Verma</td>
          <td>Rohit Verma</td>
     </tr>
     <tr>
          <td>Gopal Prajapat</td>
          <td>Gopal Prajapat</td>
     </tr>
     <tr>
          <td>Goutam Yadav</td>
          <td>Lucky Verma</td>
     </tr>
     <tr>
          <td>Lucky Verma</td>
          <td>Goutam Yadav</td>
     </tr>
     <tr>
          <td>Yogesh Yadav</td>
          <td>Yogesh Yadav</td>
     </tr>
     <tr>
          <td>Aadity Verma</td>
          <td>Aadity Verma</td>
     </tr>
     <tr>
          <td>Sudhir Yadav</td>
          <td>Sudhir Yadav</td>
     </tr>
     
 
 </table>
</section>
 {% endblock %}
{% comment %}          
        <footer>
          <div id='main_foot'>
               <div class='x'>
                       <div style='font-size:20px;text-align:center'>Contact Us</div>
               <div id="con_foot">Location<br>Khandwa naka indore M.P.<br><br>
               Mobile no<br>7723815178<br><br>
               gmail id<br>yogeshyadav7723@gmail.com
               </div>
               </div>
               <div class='x'><div style='font-size:20px;text-align:center'>Developer</div>
               <div id="dev_foot"> My name is Yogesh yadav from<br> khargone distric M.P.
                I am  purshing<br> my engineering by B.tech Electronics and
                communication branch from<br> svce indore. 
               </div>        
                </div>
               <div class='x'><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2809.3234892625574!2d75.87563517115483!3d22.67390227581232!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3962fc95e4566a19%3A0x721053fbd22a72e4!2z4KS44KSC4KSkIOCkqOCkl-CksCDgpI_gpLXgpYfgpKjgpY3gpK_gpYIsIOCkuOCkguCkpCDgpKjgpJfgpLAsIOCkh-CkqOCljeCkpuCljOCksCwg4KSu4KSn4KWN4KSvIOCkquCljeCksOCkpuClh-CktiA0NTIwMjA!5e0!3m2!1shi!2sin!4v1681233279667!5m2!1shi!2sin"
                       
                    style="border:0;width:275px;height:200px" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade ">
               </iframe>
               </div>
               <marquee scrollamount='20' id="mq">Welcome In Our Room</marquee>
              <div class="fd_main">
              <ul id="fd">
               <li><a href='#' target='' class='z' >Terms of Service |</a></li>
               <li><a href='#' target='' class='z' >Privacy Policy |</a></li>
               <li><a href='menu_table.html' target='' class='z'>Returnd Policy |</a></li>
               <li><a href='#' target='' class='z' >Accessibility Policy </a></li>
               </ul>
          </div>
          </div>
      </footer>
      
      
</body> 
</html>

 {% endcomment %}
